* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: monospace;
  color: #fff;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(33, 19, 44, 1) 0%,
    rgba(0, 0, 0, 1) 41%,
    rgba(65, 24, 77, 1) 82%
  );
}
